/* reset do css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/fundo.jpg);
  background-size: auto 100vh;
  height: 100vh;
  font-family: 'Source Code Pro', monospace;
  font-size: 10px; /* unidade tamanho fixa só para o body */
}

/* depois que colocou <meta name="viewport" */
/* se tela tiver pelo 400px vai carregar os estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}
/* breakpoint: pontos de quebra da tela que precisam de ajuste */
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 20px;
    background-image: none;
    background-color: darksalmon;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: teal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.menu {
  background-color: white;
  position: fixed; 
  width: 100vw; /* quando position = fixed o menu fica do tamanho do texto, colocar 100 */
  top: 0; /* colocar o menu no top, só funciona com o position */
}


.menu ul {
  display: flex; /* força virar coluna o que era um item embaixo do outro */
  justify-content: space-around; /* justify-content funciona em conjunto com o flex */
}

/* para tirar as bolinhas somente do li do menu */
.menu li {
  list-style: none;
}

.menu a {
  /* background-color: red; só para ver a área */
  /* padding: 10px 20px; padding não funciona com tag <a> */
  display: block;
}

.site-subtitle,
.site-title {
  color: whitesmoke;
  text-align: center;
}

.site-title {
  font-size: 4em; /* fonte responsível, unidade de fonte relativa: 4 vexes o tamanho do body */
  font-family: 'Satisfy', cursive;
}

.site-subtitle {
  font-style: italic;
  font-family: 'Press Start 2P', cursive;
  line-height: 1.8em;
}

.portfolio {
  padding: 2em;
  height: 100vh;
}

.portfolio h2 {
  font-family: 'Press Start 2P', cursive;
  color: whitesmoke;
  margin-bottom: 1.5em;
  font-size: 2em;
}

.portfolio .grid {
  display: grid; /* grid voce diz qts colunas */
  gap: 2em; /* gap é usado somente qd declara grid. Define o espaçamento das colunas ou linha do grid*/
  /*grid-template-columns: 240px 240px; colocar dentro do breakpoint */
}

@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px;
    justify-content: center;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 260px);
    justify-content: center;/* só usa com o display grid */
    align-content: center;
    height: calc(100vh - 4em - 48px - 1.5em);
    /*background-color: peru; usar para testar */
  }
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  height: 180px;
  width: 240px;
  object-fit: cover; /* cover = corta a foto de acordo com o tamanho definido/ contain = fotos com as proporções originais */
  object-position: left bottom; /* da onde posiciona o corte*/
  border-radius: 10px;
}


