/* reset do css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/deserto-saara.jpg);
  background-size: auto 100vh;
  height: 100vh;
  font-family: Arial;
  font-size: 10px; /* unidade tamanho fixa só para o body */
}

/* depois que colocou <meta name="viewport" */
/* se tela tiver pelo 400px vai carregar os estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}
/* breakpoint: pontos de quebra da tela que precisam de ajuste */
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 20px;
    background-image: none;
    background-color: darksalmon;
  }
}

header {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: teal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.menu {
  background-color: white;
  position: fixed; 
  width: 100vw; /* quando position = fixed o menu fica do tamanho do texto, colocar 100 */
  top: 0; /* colocar o menu no top, só funciona com o position */
}


.menu ul {
  display: flex; /* força virar coluna o que era um item embaixo do outro */
  justify-content: space-around; /* justify-content funciona em conjunto com o flex */
}

/* para tirar as bolinhas somente do li do menu */
.menu li {
  list-style: none;
}

.menu a {
  /* background-color: red; só para ver a área */
  /* padding: 10px 20px; padding não funciona com tag <a> */
  display: block;
}

.site-subtitle,
.site-title {
  color: whitesmoke;
  text-align: center;
}

.site-title {
  font-size: 4em; /* fonte responsível, unidade de fonte relativa: 4 vexes o tamanho do body */
}


.site-subtitle {
  font-style: italic;
}

.img-portfolio {
  height: 150px;
  width: 150px;;
}